
extends layout

block content

  script(src="http://code.jquery.com/jquery-1.7.1.min.js")
  script(src="/javascripts/jquery.waypoints.js")
  script(src='/javascripts/scroll.js')

  div( id="toppety" , style = "padding-top:10%;   position: fixed; width: 100%; float:left; right: 0; top: 0;").maintarg

    center
        h1.tytle ❮DANIEL&nbsp;GOTT❯
        div
          button(onclick="fadetoPhoto()").subtyt Daydreamer
          button(onclick="scrollfirst()").subtyt Developer
          button(onclick="scrollfirst()").subtyt Splendid Chap


  div.lowercontent
    h1.cursive.lowertytle Who am I?
    div
      img(width = "300px" src = "/images/DanielGott-Kitty.png").kitty
      p(style="display: inline-block; position:reletive; padding-left:10px; font-size: 2vw;") My name is Daniel Gott. I like Cats, Prorgramming, Design, and Photography

  div(data-parallax="scroll" data-image-src="/images/backgroundparall.jpg").parallax-window
