
extends layout

block content
  div(style = "padding-top:10%;   position: fixed; width: 100%; float:left;     right: 0; top: 0;")
    center
        h1.tytle ❮DANIEL&nbsp;GOTT❯
        div
          button(onclick="scrollfirst()" , type="button").subtyt Photographer
          button(onclick="scrollfirst()").subtyt Developer
          button(onclick="scrollfirst()").subtyt Splendid Chap
          script(src="http://code.jquery.com/jquery-1.7.1.min.js")
          script(src='/javascripts/scroll.js')


    div.footer
      h6 Created from Scratch By Daniel Gott
  div.lowercontent
    h1 test
    p ya boi
    p dfsfsdf
    p sdfsdfsd
    p sdfsdfsd
    p lsdkfj
    p sjdlfkj
    p fsdf
    p ya boi
    p dfsfsdf
    p sdfsdfsd
    p sdfsdfsd
    p lsdkfj
    p sjdlfkj
    p fsdf

    p ya boi
    p dfsfsdf
    p sdfsdfsd
    p sdfsdfsd
    p lsdkfj
    p sjdlfkj
    p fsdf
    p ya boi
    p dfsfsdf
    p sdfsdfsd
    p sdfsdfsd
    p lsdkfj
    p sjdlfkj
    p fsdf
