extends layout

block content
  div(style = "padding-top:10%;")
    center
        h1.tytle ❮DANIEL&nbsp;GOTT❯
        div
          button.subtyt Photographer
          button.subtyt Developer
          button.subtyt Splendid Chap
