doctype html
html(onclick = "loadhome()")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    video(playsinline autoplay muted loop id = 'backvid')
      source(src="/images/ganggang.webm" type="video/webm")
    block content
    include footer
